@if (mostrarMenu()) {

  <nav class="navbar">

    <!-- LOGO -->
    <div class="logo">
      <span class="logo-icon">🏫</span>
      <span class="logo-text">Colegio</span>
    </div>


    <!-- NAVEGACIÓN -->
    <div class="nav-links">

      @if (
        authService.obtenerRol() === 'ADMIN' ||
        authService.obtenerRol() === 'DOCENTE' ||
        authService.obtenerRol() === 'SECRETARIA'
      ) {

        <a
          routerLink="/alumnos"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">

          <span class="nav-icon">👨‍🎓</span>
          <span>Alumnos</span>

        </a>

      }


      @if (
        authService.obtenerRol() === 'ADMIN' ||
        authService.obtenerRol() === 'DOCENTE'
      ) {

        <a
          routerLink="/cursos"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">

          <span class="nav-icon">📚</span>
          <span>Cursos</span>

        </a>

      }


      @if (authService.obtenerRol() === 'ADMIN') {

        <a
          routerLink="/administracion"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">

          <span class="nav-icon">⚙️</span>
          <span>Administración</span>

        </a>

      }

    </div>


    <!-- USUARIO -->
    <div class="user-info">

      <div class="user-data">

        <span class="user-name">
          {{ authService.obtenerUsuario() }}
        </span>

        <span class="rol">
          {{ authService.obtenerRol() }}
        </span>

      </div>

      <button
        type="button"
        (click)="cerrarSesion()">

        Cerrar sesión

      </button>

    </div>

  </nav>

}

<router-outlet></router-outlet>
